@model IEnumerable<MvcMovie.Models.Knowladge>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.knowladge_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.knowladge_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.knowladge_ID })
        </td>
    </tr>
}

</table>
